<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">
    </head>
    <body>
        <p><br>Hotels and local events that are marked in red are more relevant to your travel plans.</p>
        <h1>Summary:</h1>
        <section>
            <h2>History</h2>
            <p>{{summary.history}}</p>
            <h2>Transportation</h2>
            <p>{{summary.transportation}}</p>
            <h2>Things to Do</h2>
            <p>{{summary.things_to_do}}</p>
            <h2>Food</h2>
            <p>{{summary.food}}</p>
            <h2>Hotels</h2>
            <p>{{summary.hotels}}</p>
        </section>

        <h1>Travel there:</h1>
        <section>
            <ul>
            {% for route in routes %}
                <li>{{route.travel_methods}}</li>
                <li>{{route.time}}</li>
                <li>{{route.price_range}}</li>
            {% endfor %}
            </ul>
        </section>

        <h1>Local/upcoming events in the area:</h1>
        <section>
        {% for event in events %}
            {% if event.relevant %}
                <h3 style="color: red;">{{event.name}}</h3>
            {% else %}
                <h3 style="color: black;">{{event.name}}</h3>
            {% endif %}
            <p>{{event.time}}</p>
            <p>{{event.area}}</p> 
        {% endfor %}
        </section> 

        <h1>Find a place to stay:</h1>
        <section>
        {% for hotel in hotels %}
            {% if hotel.relevant %}
                <h3 style="color: red;">{{hotel.hotel_name}}</h3>
            {% else %}
                <h3 style="color: black;">{{hotel.hotel_name}}</h3>
            {% endif %}
            <p>{{hotel.review_score}}</p>
            <p>{{hotel.per_night_price}} per night</p> 
            <p>{{hotel.total_price}}</p>
            <p>{{hotel.miles_from_downtown}}m from downtown</p>
            <p>{{hotel.extra_info}}</p>
        {% endfor %}
        </section>
    </body>
</html>