<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">
    </head> 
    <body>
        <form action="/" method="post">
            <input type="text" name="location" placeholder="Enter destination" required>
            <input type="text" name="origin" placeholder="Enter origin" required>
            <input type="number" name="num_of_companions" placeholder="Enter number of people (default 1)">
            <input type="date" name="time_of_start_stay" required>
            <input type="date" name="time_of_end_stay" required>
            <input type="number" name="num_of_rooms" placeholder="Hotel rooms (default 1, max = num of people)">
            <input type="text" name="purpose" placeholder="What's the purpose/goal of this trip?" required>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>